<div class="social-links">
    {% if page.facebook %}
        <a class="link" data-title="{{ page.facebook }}" href="{{ page.facebook }}" target="_blank">
            <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
        </a>
    {% endif %}

    {% if page.twitter %}
        <a class="link" data-title="{{ page.twitter }}" href="{{ page.twitter }}" target="_blank">
            <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        </a>
    {% endif %}

    {% if page.google %}
        <a class="link" data-title="{{ page.google }}" href="{{ page.google }}" target="_blank">
            <svg class="icon icon-google"><use xlink:href="#icon-google"></use></svg>
        </a>
    {% endif %}

    {% if page.instagram %}
        <a class="link" data-title="{{ page.instagram }}" href="{{ page.instagram }}" target="_blank">
            <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
        </a>
    {% endif %}

    {% if page.pinterest %}
        <a class="link" data-title="{{ page.pinterest }}" href="{{ page.pinterest }}" target="_blank">
            <svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg>
        </a>
    {% endif %}

    {% if page.linkedin %}
        <a class="link" data-title="{{ page.linkedin }}" href="{{ page.linkedin }}" target="_blank">
            <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
        </a>
    {% endif %}

    {% if page.youtube %}
        <a class="link" data-title="{{ page.youtube }}" href="{{ page.youtube }}" target="_blank">
            <svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
        </a>
    {% endif %}

    {% if page.spotify %}
        <a class="link" data-title="{{ page.spotify }}" href="{{ page.spotify }}" target="_blank">
            <svg class="icon icon-spotify"><use xlink:href="#icon-spotify"></use></svg>
        </a>
    {% endif %}

    {% if page.lastfm %}
        <a class="link" data-title="{{ page.lastfm }}" href="{{ page.lastfm }}" target="_blank">
            <svg class="icon icon-lastfm"><use xlink:href="#icon-lastfm"></use></svg>
        </a>
    {% endif %}

    {% if page.github %}
        <a class="link" data-title="{{ page.github }}" href="{{ page.github }}" target="_blank">
            <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
        </a>
    {% endif %}

    {% if page.gitlab %}
        <a class="link" data-title="{{ page.gitlab }}" href="{{ page.gitlab }}" target="_blank">
            <svg class="icon icon-gitlab"><use xlink:href="#icon-gitlab"></use></svg>
        </a>
    {% endif %}

    {% if page.stackoverflow %}
        <a class="link" data-title="{{ page.stackoverflow }}" href="{{ page.stackoverflow }}" target="_blank">
            <svg class="icon icon-stackoverflow"><use xlink:href="#icon-stackoverflow"></use></svg>
        </a>
    {% endif %}

    {% if page.quora %}
        <a class="link" data-title="{{ page.quora }}" href="{{ page.quora }}" target="_blank">
            <svg class="icon icon-quora"><use xlink:href="#icon-quora"></use></svg>
        </a>
    {% endif %}

    {% if page.reddit %}
        <a class="link" data-title="{{ page.reddit }}" href="{{ page.reddit }}" target="_blank">
            <svg class="icon icon-reddit"><use xlink:href="#icon-reddit"></use></svg>
        </a>
    {% endif %}

    {% if page.medium %}
        <a class="link" data-title="{{ page.medium }}" href="{{ page.medium }}" target="_blank">
            <svg class="icon icon-medium"><use xlink:href="#icon-medium"></use></svg>
        </a>
    {% endif %}

    {% if page.vimeo %}
        <a class="link" data-title="{{ page.vimeo }}" href="{{ page.vimeo }}" target="_blank">
            <svg class="icon icon-vimeo"><use xlink:href="#icon-vimeo"></use></svg>
        </a>
    {% endif %}

    {% if page.lanyrd %}
        <a class="link" data-title="{{ page.lanyrd }}" href="{{ page.lanyrd }}" target="_blank">
            <svg class="icon icon-microphone"><use xlink:href="#icon-microphone"></use></svg>
        </a>
    {% endif %}

    {% if page.email %}
        <a class="link" data-title="{{ page.email }}" href="mailto:{{ page.email }}">
            <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
        </a>
    {% endif %}
</div>
